@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body{
    text-decoration: none;
    transform: scale(1.0);
    display: grid;
    grid-template-columns: 20px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 150px 70px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

header{
    grid-column: 1/18;
    grid-row: 1;
    text-align: center;
    font-family: roboto;
    font-weight: 300;
    text-decoration: none;
}



main{
    display: flex;
    text-align: center;
    font-family: roboto;
    font-weight: 300;
}

.botao1{
    width: 100px;
    height: 100px;
    background-color: #dcdcdc;
    border-radius: 15px;
    user-select: none;
}

.botao2{
    width: 100px;
    height: 100px;
    background-color: #f7e7ce;
    border-radius: 15px;
    user-select: none;
}

.botao3{
    width: 100px;
    height: 100px;
    background-color: #92cc6e;
    border-radius: 15px;
    user-select: none;
}

.botao4{
    width: 100px;
    height: 100px;
    background-color: #696969;
    border-radius: 15px;
    user-select: none;
}

.box{
    grid-column: 2/3;
    grid-row: 3;
    justify-content: end;
    align-items: end;
}

.box-end{
    grid-column: 19;
    grid-row: 3;
    justify-content: end;
    align-items: end;
}


.box2{
    grid-column: 2/3;
    grid-row: 4;
    justify-content: start;
}

.box-end2{
    grid-column: 19;
    grid-row: 4;
    justify-content: end;
    align-items: end;
}

.box3{
    grid-column: 2/3;
    grid-row: 5;
    justify-content: start;
}

.box-end3{
    grid-column: 19;
    grid-row: 5;
    justify-content: end;
}

.box4{
    grid-column: 19;
    grid-row: 6;
    justify-content: end;
}


.box5{
    grid-column: 19;
    grid-row: 7;
    justify-content: end;
}

.box6{
    grid-column: 19;
    grid-row: 8;
    justify-content: end;
}

.box7{
    grid-column: 19;
    grid-row: 9;
    justify-content: end;
}

.box8{
    grid-column: 6/19;
    grid-row: 10;
    justify-content: start;
    align-items: end;
}

.box9{
    grid-column: 19;
    grid-row: 11;
    justify-content: end;
}

.box10{
    grid-column: 19;
    grid-row: 12;
    justify-content: end;
}

.box11{
    grid-column: 1/18;
    grid-row: 16;
    justify-content: center;
}

.boxind{
    grid-column: 1;
    grid-row: 3;
    justify-content: start;
    align-items: center;
    margin-right: 5px;
    font-weight: 900;
}

.boxind2{
    grid-column: 1;
    grid-row: 4;
    justify-content: start;
    align-items: center;
    margin-right: 5px;
    font-weight: 900;

}

.boxind3{
    grid-column: 1;
    grid-row: 5;
    justify-content: start;
    align-items: center;
    margin-right: 5px;
    font-weight: 900;

}

.boxind4{
    grid-column: 1;
    grid-row: 6;
    justify-content: start;
    align-items: center;
    margin-right: 5px;
    font-weight: 900;

}

.boxind5{
    grid-column: 1;
    grid-row: 7;
    justify-content: start;
    align-items: center;
    margin-right: 5px;
    font-weight: 900;

}

.boxind6{
    grid-column: 1;
    grid-row: 8;
    justify-content: start;
    align-items: center;
    margin-right: 5px;
    font-weight: 900;

}

.boxind7{
    grid-column: 1;
    grid-row: 9;
    justify-content: start;
    align-items: center;
    margin-right: 5px;
    font-weight: 900;

}

.boxindr{
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 900;
}

.boxindr2{
    grid-column: 3;
    grid-row: 3;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}

.boxindr3{
    grid-column: 4;
    grid-row: 5;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}
.boxindr4{
    grid-column: 5;
    grid-row: 5;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}
.boxindr5{
    grid-column: 6;
    grid-row: 5;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}
.boxindr6{
    grid-column: 7;
    grid-row: 5;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}
.boxindr7{
    grid-column: 8;
    grid-row: 5;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}
.boxindr8{
    grid-column: 9;
    grid-row: 5;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}

.boxindr9{
    grid-column: 10;
    grid-row: 5;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}

.boxindr10{
    grid-column: 11;
    grid-row: 5;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}
.boxindr11{
    grid-column: 12;
    grid-row: 5;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}
.boxindr12{
    grid-column: 13;
    grid-row: 5;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}
.boxindr13{
    grid-column: 14;
    grid-row: 3;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}

.boxindr14{
    grid-column: 15;
    grid-row: 3;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}

.boxindr15{
    grid-column: 16;
    grid-row: 3;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}

.boxindr16{
    grid-column: 17;
    grid-row: 3;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}

.boxindr17{
    grid-column: 18;
    grid-row: 3;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}

.boxindr18{
    grid-column: 19;
    grid-row: 2;
    justify-content: center;
    align-items: end;
    font-weight: 900;
}


.hov:hover{
    background-color: #c1c9d6;
    transition: 0.5s;
    cursor: pointer;
}

.lat{
    margin-right: 5px;
}

.gas{
    color: #2a9eb0;
}

.sol{
    color: #383838;
}

.liq{
    color: #31a828;
}

.art{
    color: #c73120;
}

.indice{
    font-size: 12px;
}

.p{
    margin: 0;
}

.legenda{
    width: 190px;
    height: 190px;
    background-color: #fffafa;
    border-radius: 10px;
}

.h-color{
    background-color: #dcdcdc;
}

.m-color{
    background-color: #f7e7ce;
}

.g-color{
    background-color: #92cc6e;
}

.n-color{
    background-color: #696969;
}

.s-cor{
    background-color: #383838;
}

.g-cor{
    background-color: #2a9eb0;
}

.a-cor{
    background-color: #c73120;
}

.l-cor{
    background-color: #31a828;
}